/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

/**section {
    margin: 0 auto; 
    border: 1px solid #bbb; 
    padding: 5px; 
    background-color: #eee; 
    line-height: 1.5em;
}**/

body { 
    font-size: 18px; 
    line-height: 32px;
    font-family: Verdana, Arial, Times New Roman  ;
    color: dimgray;
}

h1 {
    font-size: 2.25rem;
    color: whitesmoke;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid maroon;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .75rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: maroon;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

marquee {
    overflow-x: marquee-line;
    marquee-direction: reverse;
    marquee-style: scroll;
    marquee-speed: normal;
}

footer {
    font-size: 13px;
}