/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}

body {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: "Open Sans", "Verdana", "sans-serif";
    position: relative;
    max-width: 600px;
    margin: auto;
}

header {
    background-color: #191970;
    height: 10rem;
    max-height: 10rem;
    color: #F5FFFA;
    overflow: auto;
}

header h1, .subheading {
    margin-left: 10rem;
    color: #F5FFFA;
}

header h1 {
    font-size: 2rem;
    margin-top: 3rem;
}

header img {
    width: 10rem;
    position: absolute;
}

header .subheading {
    font-style: italic;
}

nav {
    float: right;
    right: 0;
    margin: 1rem 0 0 0;
    width: 175px;
}

nav button {
    float: right;
    height: 1.75em ;
    width: 2.5em ;
    color: #191970;
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 1rem;
    line-height: 2.25em;
    box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul.hide {
    display:none;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: block;
    color: #191970;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #CCE6FF;
    color: #191970;
    font-size: 1.15em;
}
nav ul li a:hover {
    color: #1E90FF;
    font-size: 1.15em;
}

main {
    margin: 1rem;
}

main h2 {
    color: #191970;
}

main figure {
    margin: 0 0 1.5rem 2%;
    width:95%;
}

main figure img {
    width: 100%;
}

section {
    margin: 2em;
}

h3 {
    color: #1E90FF;
    text-align: center;
}

picture>img{
    margin: 1rem;

}

.current{
    font-size: 1.25rem;
    text-align: center;
}

.highlow, .conditions  {
    text-align: center;
    line-height: 1em;
    font-size: .9em;
}

article p.town-article img {
    width: 100%; /* fill the page in the small/phone view */
    margin-bottom: 1rem ;
}

article>h3 {
    color: #1E90FF;
    margin-top: 0;
    line-height: 1.25em;
    text-align: left;
}

.forecast {
    display: none;
}

article {
    border: 2px solid;
    border-color: #191970;
    padding: 1em;
    margin-top: 3em;
}

.thanks {
    text-align: center;
}

fieldset {
    background-color: #CCE6FF;
    border-radius: .8em;
    margin: 1.5em 0;
    border: #191970 solid 1px;
}

legend {
    color: #191970;
    padding: .5em;
    border: #191970 solid 1px;
    background-color: #CCE6FF;
    border-radius: .4em;
}

label{
    display: block;
    margin: .5em;
}

label span{
    display: block;
    font-size: 1rem;
    color: #191970;
    padding-top: .9em;
    padding-bottom: .2em;
}

input.submitBtn{
    -webkit-appearance: none;
    color: #fff;
    border: solid 1px 191970;
    border-radius: 7px;
    width: 50%;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    background: #191970;
    box-shadow: 4px 4px 10px #666;
}












footer aside {
    text-align: center;
    padding: .5em;
    color: #2F4F4F;
    background-color: #CCE6FF;
}

footer>p {
    color: #F5FFFA;
    background-color: #191970;
    font-size: .8em;
    text-align: center;
    margin: 0 auto;
}
