@media only screen and (min-width: 37.5em) {

    body {
        max-width: 1024px;
    }

    header h1, .subheading {
        padding-left: 3rem;
    }

    nav {
        float: none;
        width: 100%;
        margin-top: 0;
        background-color: #1E90FF;
        overflow: hidden;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: inline;
        box-shadow: none;
    }

    nav ul li {
        text-align: left;
        display: inline;
        border-right: 2px solid #F5FFFA;
        padding: 0.5em;
    }

    ul.hide {
        display:inline;
    }

    li:last-child {
        border-right: none;
    }

    nav ul li a {
        display: inline-block;
        color: #F5FFFA;
    }

    nav ul li.active a {
        padding: 0 .35em 0 .35em;
        font-size: 1.25em;
    }

    nav ul li a:hover {
        color: #191970;
        font-size: 1.25em;
    }

    .top{
        position: relative;
        width: 100%;
    }

    .city{
        position: absolute;
        float: left;
        width: 50%;
    }

    .summary{
        float: right;
        width: 40%;
        min-width: 375px;
    }

    picture>img{
        float: left
    }

    .highlow{
        position: relative;
        float: right;
        padding-right: 25%;
        padding-top: 15%;
    }

    #description{
        float: right;
        margin-top: -6.5rem;
        margin-right: 7rem;
    }

    .conditions {
        clear: both;

    }

    section.forecast {
        clear: both;
        float: none;
        display: block;
        margin: 1.5em 0 -1em 0;
        text-align: center;
        border: 2px solid;
        border-color: #191970;
    }

    .forecast h3 {
        text-align: center;
        margin: .5em;
    }

    table {
        width: 100%;
        border-top: 2px solid;
        border-color: #191970;
    }

    th{
        color: #191970;
    }

    article p.town-article img {
        width: 50%;
        float: right;
    }

}

