/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: "Catamaran", "sans-serif", "Verdana";
    position: relative;
    max-width: 600px;
    margin: auto;
    background-color: #E3D2BF;
}

header {
    background-color: #B27836;
    height: 10rem;
    max-height: 10rem;
    color: #111927;
    overflow: auto;
}

header h1 {
    margin-left: 12rem;
    margin-top: 3rem;
    font-size: 3rem;
    font-family: "Jua";
    color: #111927;
}

.large{
    display: none;
}

header img {
    width: 11rem;
    position: absolute;
    margin-left: 1.5rem;
}


nav {
    float: right;
    right: 0;
    margin: 1rem 0 0 0;
    width: 175px;
}

nav button {
    float: right;
    height: 1.75em ;
    width: 2.5em ;
    margin-top: -1rem;
    color: #E3D2BF;
    background-color: #111927;
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 1rem;
    line-height: 2.25em;
    background-color: #111927;
    box-shadow: 0px 9px 30px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul.hide {
    display:none;
}

nav ul li {
    text-align: center;
    border-bottom: 2px solid #E3D2BF;
}

li:last-child {
    border-bottom: none;
}

nav ul li a {
    display: block;
    color: #E3D2BF;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #345186;
    color: #111927;
    font-size: 1.15em;
}
nav ul li a:hover {
    color: #B27836;
    font-size: 1.15em;
}

main {
    margin: 1rem;
}

main h2 {
    color: #345186;
    padding: 1rem;
    text-align: center
}

main figure {
    margin: 0 0 1.5rem 2%;
    width:95%;
}

main figure img {
    width: 100%;
}

section {
    margin: 2em;
}

h3 {
    color: #3A5EA0;
    text-align: center;
    padding: 1rem;
}

picture>img{
    margin: 1rem;

}

article>h3 {
    color: #345186;
    margin-top: 1rem;
    line-height: 1.25em;
    text-align: left;
}

article {
    border: 2px solid;
    border-color: #111927;
    padding: 1em;
    margin-top: 2rem;
}

ol {
    padding: 1rem;
}

section.guidetour, section.bike, .resources, .contact {
    border: 2px solid;
    border-color: #111927;
    padding: 1em;
    margin-top: 2rem;
}

.guidetour img {
    float: left;
    padding: 1rem;
}

.headline{
    font-size: 2rem;
    line-height: 1.10;
}


.bullets{
    margin-left: 2.5rem;
}


#map, iframe{
    width: 100%;
    max-width: 500px;
}

iframe{
    padding-top: 1rem;
}

.thanks {
    text-align: center;
}

fieldset {
    background-color: #E3D2BF;
    border-radius: .8em;
    margin: 1.5em 0;
    border: #111927 solid 1px;
}

legend {
    color: #111927;
    padding: .5em;
    border: #111927 solid 1px;
    background-color: #E3D2BF;
    border-radius: .4em;
}

label{
    display: block;
    margin: .5em;
}

label span{
    display: block;
    font-size: 1rem;
    color: #111927;
    padding-top: .9em;
    padding-bottom: .2em;
}

input.submitBtn{
    -webkit-appearance: none;
    color: #E3D2BF;
    border: solid 1px #111927;
    border-radius: 7px;
    width: 50%;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    background: #111927;
    box-shadow: 4px 4px 10px #666;
}

aside {
    text-align: center;
    margin-top: 2rem;
    padding: 1em;
    background-color: #B27836;
}

table{
    min-width: 300px;
    text-align: center;
    border: 2px solid;
    border-color: #111927;
    border-collapse: collapse;
}

thead{
    background-color: #111927;
    color: #B27836;
}

td{
    border: 2px solid;
    border-color: 111927;
    padding: .25rem;
}

footer {
    color: #B27836;
    background-color: #111927;
    font-size: .9rem;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    padding: .5rem;
}

footer p a {
    color: #B27836;
    text-decoration: none;
}
