@media only screen and (min-width: 37.5em) {

    body {
        max-width: 1024px;
    }

    header h1 {
        padding-left: 3rem;
        margin-top: 3rem;
        font-size: 3rem;
    }

.main {
    display: none;
    }

.medium {
    display: block;
    }

    nav {
        float: none;
        width: 100%;
        margin-top: 0;
        background-color: #111927;
        overflow: hidden;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: inline;
        box-shadow: none;
    }

    nav ul li {
        text-align: left;
        display: inline;
        border-right: 2px solid #E3D2BF;
        padding: 0.5em;
        border-bottom: none;
    }

    ul.hide {
        display:inline;
    }

    li:last-child {
        border-right: none;
    }

    nav ul li a {
        display: inline-block;
        color: #E3D2BF;
    }

    nav ul li.active a {
        padding: 0 .35em 0 .35em;
        font-size: 1.25em;
    }

    nav ul li a:hover {
        color: #B27836;
        font-size: 1.25em;
    }

    .top{
        position: relative;
        width: 100%;
    }



    picture>img{
        float: left
    }

    .layout{
        display: inline-flex;
    }

    .left .contact{
        width:60%
    }

    .right{
        width:40%;
    }

    .guidetour{
        overflow: auto;
    }

    .guidetour>img{
        padding-bottom: 4rem;
    }

    .headline{
        display: none;
    }

    .headlinemed{
        display: block;
        font-size: 2rem;
        line-height: 1.10;
    }

    table {
        width: 100%;
        border-top: 2px solid;
        border-color: #191970;
    }

    th{
        color: #191970;
    }

    article p.town-article img {
        width: 50%;
        float: right;
    }

}

